<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracking Inventory</title>
    <link rel="stylesheet" href="/stylesheets/inventory.css">
</head>
<body>
    <div class="warp">
        <div class="section head">
            <h1>Tracking Inventory</h1>
            <div>
                <input type="text" name="search" placeholder="not implemented"><input type="submit" value="search">
            </div>
        </div>
        <div class="section input">
            <form method="post" action="/inventory">
                <div class="row">
                    <span>Name</span>
                    <span>Serial Number</span>
                    <span>Value</span>
                </div>
                <div class="row">
                    <span><input type="text" name="name" class="input-name" required></span>
                    <span><input type="text" name="serialNumber" class="input-sn" required></span>
                    <span><input type="number" name="value" class="input-value" required></span>
                </div>
                <div class="row">
                    <input type="submit" value="register" class="register">
                </div>
            </form>
        </div>
        <div class="section view">
            <div class="download">
                <input type="radio" name="filetype" class="filetype" value="html" checked>html</input>
                <input type="radio" name="filetype" class="filetype" value="csv">csv</input>
                <input type="button" value="download" class="download-btn">
            </div>
        </div>
        <div class="section inventory">
            <div class="row">
                <span>Name</span><span>Serial Number</span><span>Value</span>
            </div>
            <% inventory.forEach(item => {%>
                <div class="row">
                    <span><%= item.name %></span>
                    <span><%= item.serialNumber %></span>
                    <span><%= item.price %></span>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/inventory.js"></script>
</body>
</html>